#link-error{
    color: #F00;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    margin-top: 5px;
    margin-left: 36px;
}      
    @media screen and (min-width:320px) and (max-width:639px) {
        #link-error{
            margin-left: 22px;
            width: 238px;
        }
    }
