.popup__save-button-text {
    z-index: 2;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0;
}

@media screen and (min-width:320px) and (max-width:639px) {
    .popup__save-button-text {
        font-size: 14px;

    }
}